
.team-section {
  text-align: center;
  padding-top: 100px; 
  min-height: 100vh;
}

.title.is-2 {
  color: var(--header-color);
  font-family: var(--font-header);
  font-size: 64px;
  letter-spacing: 2px;
  margin-bottom: 80px;
}

.card {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: #fff5e1;
  text-align: center;
  transition: transform 0.3s;

}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.card p{
  color: var(--secondary-color);
}

.card p.content{
  text-align: justify;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 0.5rem;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.arrow:hover {
  background-color: #ffd9b3;
}

.active {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
